<div class="login">
  <div style="display: flex; gap: 2.5rem">
    <div *ngIf="!tigger">
      <h1>Login</h1>
      <form class="login-form">
        <c-input-group class="mb-3">
          <input
            for="email"
            type="email"
            cFormControl
            placeholder="Correo electrónico"
            [(ngModel)] = "this.correo_login"
            [ngModelOptions]="{standalone: true}"
          />
        </c-input-group>
        <c-input-group class="mb-3">
          <input
            for="passwd"
            type="password"
            cFormControl
            placeholder="Contraseña"
            [(ngModel)] = "this.pass_login"
            [ngModelOptions]="{standalone: true}"
          />
        </c-input-group>
        <div style="display: flex; flex-direction: column">
       <!--    <mat-checkbox class="mb-3" id="checkMeOut-1"
            >Acuérdate de mí</mat-checkbox
          > -->
          <button mat-raised-button (click)="login()">Iniciar sesión</button>
          <label (click)="cambio()">Registrarse</label>
        </div>
      </form>
     
    </div>
    <div *ngIf="tigger">
      <h1>Registro</h1>
      <form class="form-group mt-3" style="display: flex; flex-direction: column;">
        <!-- <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Nombre del grupo" aria-label="Username" aria-describedby="basic-addon1" [(ngModel)]="nombre_registro">
        </div> -->
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Correo electrónico" aria-label="email" aria-describedby="basic-addon2" [(ngModel)]="this.correo_registro" [ngModelOptions]="{standalone: true}">
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Contraseña" for="passwd" cFormControl [(ngModel)]="this.pass_registro"[ngModelOptions]="{standalone: true}">
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Repita contraseña" for="passwd" cFormControl [(ngModel)]="this.pass_comprobar_registro" [ngModelOptions]="{standalone: true}">
        </div>
        <!-- <div class="input-group mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input type="radio" aria-label="Checkbox for following text input" [(ngModel)]="tipo">
            </div>
          </div>
          <input type="text" class="form-control" placeholder="Eres una banda" cFormControl>
        </div> -->
        <button class="btn btn-primary" (click)="submit()">Registrarse</button>
      </form>
      
    </div>
    
  </div>
</div>
