<!--encabezado de página global-->

<div class="header-wrapper">
  <!--marca y registro/login-->
  <div class="header">
    <a class="logo"><span style="display: inline-block">BuscoBandas</span></a>
    <a class="registro"><fa-icon [icon]="faUser"></fa-icon></a>
  </div>
  <!--?quizás quitar el banner-->
  <div class="banner"><p>buscobandas.com</p></div>
  <nav>
    <a [routerLink]="['/']">INICIO</a>
    <a [routerLink]="['/bandas']">BANDAS</a>
    <a [routerLink]="['/blog']">BLOG</a>
    <a [routerLink]="['/contacto']">CONTACTO</a>
  </nav>
</div>

<div class="page-container">
  <router-outlet></router-outlet>
</div>
