<!--encabezado de página global-->

<div class="header-wrapper">
  <!--marca y registro/login-->
  <header>
    <a class="logo"><span style="display: inline-block"><fa-icon [icon]="faMusic" style="font-size: 1.2rem;"></fa-icon>&nbsp;BuscoBandas</span></a>
    <a class="registro"><fa-icon [icon]="faUser"></fa-icon></a>
  </header>
  <nav>
    <a [routerLink]="['/']">INICIO</a>
    <a [routerLink]="['/bandas']">BANDAS</a>
    <a [routerLink]="['/blog']">BLOG</a>
    <a [routerLink]="['/contacto']">CONTACTO</a>
  </nav>
</div>

<div class="page-container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="breadcrumbs">
    <c-breadcrumb-router></c-breadcrumb-router>
    <div class="social-icons">
      <a
        href="https://www.facebook.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon"
      >
        <fa-icon [icon]="faFacebook"></fa-icon>
      </a>
      <a
        href="https://www.instagram.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon"
      >
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
      <a
        href="https://www.youtube.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="social-icon"
      >
        <fa-icon [icon]="faYoutube"></fa-icon>
      </a>
    </div>
  </div>
</footer>
