<div class="bandas">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search">
    <!--Estilo-->
   <!--  <div class="estilos" formArrayName="styles">
      <mat-checkbox formControlName="0">Banda de cornetas y tambores</mat-checkbox>
      <mat-checkbox formControlName="1">Agrupación musical</mat-checkbox>
      <mat-checkbox formControlName="2">Banda de música</mat-checkbox>
      <mat-checkbox formControlName="3">Otros</mat-checkbox>
    </div> -->
    <!--lista de provincias de españa-->
    <div class="provynum" style="display: flex">
      <div class="lista-de-provincia">
        <mat-form-field appearance="fill">
          <mat-label>Provincia</mat-label>
          <mat-select formControlName="province" placeholder="Escriba o seleccione una provincia" (selectionChange)="onProvinceSelectionChange($event)">
            <mat-option *ngFor="let province of provinces"  [value]="province" >{{
              province
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <button type="submit" mat-raised-button class="submit-button">
        Enviar
      </button>
    </div>
    <div class="componentes">
      <div>
      <!--   <mat-form-field appearance="fill">
          <mat-label>Número de componentes</mat-label>
          <mat-select formControlName="components" placeholder="Seleccione una opción">
            <mat-option *ngFor="let num of numComponentes" [value]="num">{{
              num
              }}</mat-option>
          </mat-select>
        </mat-form-field> -->
      </div>
    </div>
    <div class="actuación">
      <mat-form-field >
        <input matInput [matDatepicker]="picker" (dateChange)="onDateSelected($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
<!--       <mat-form-field appearance="fill">
        <mat-label>Fecha de la actuación</mat-label>
        <input matInput [matDatepicker]="actuacionFecha" formControlName="actuationDate" />
        <mat-datepicker-toggle matSuffix [for]="actuacionFecha"></mat-datepicker-toggle>
        <mat-datepicker #actuacionFecha></mat-datepicker>
      </mat-form-field> -->
   
    </div>
  </form>
  <br />
  <div class="bandas-lista">
    <div *ngFor="let item of bandas" class="banda-profil">
      <div [routerLink]="['/bandaInfo', item.id_banda]">
        <div
          [style.background-image]="'url(' + item.image + ')'"
          class="circular-image"
        ></div>
      </div>
      <div>
        <h2>{{ item.nombre }}</h2>
        <p>{{ item.info }}</p>
        <div class="grid-profil">
          <p>Próximas actuaciones: {{ item.nextPer }}</p>
          <p>Género musical: {{ item.estilo }}</p>
          <p>Provincia: {{ item.provincia }}</p>
          <div class="social-icons">
            <p>Redes sociales:</p>
            <a
              href="https://www.facebook.com/{{ item.facebook }}"
              target="_blank"
              rel="noopener noreferrer"
              class="social-icon"
            >
              <fa-icon [icon]="faFacebook"></fa-icon>
            </a>
            <a href="https://www.instagram.com/{{ item.instagram }}" target="_blank" rel="noopener noreferrer"
              class="social-icon">
              <fa-icon [icon]="faInstagram"></fa-icon>
            </a>
            <a href="https://www.youtube.com/{{ item.youtube }}" target="_blank" rel="noopener noreferrer"
              class="social-icon">
              <fa-icon [icon]="faYoutube"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    
    </div>
    <!--  de aqui  
      
    <button type="submit" mat-raised-button color="primary" class="submit-button">
     de aqui  --><!--
    <button
      type="submit"
      mat-raised-button
      color="primary"
      class="submit-button"    >
      Enviar
    </button>
    </form>
    <div style="margin-top: 20px;">
      <div class="card" style="width: 18rem;" *ngFor="let banda of this.bandas">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ banda.nombre }}</h5>
          <p class="card-text">{{ banda.info }}</p>
          <a href="#" class="btn btn-primary">Más info</a>
        </div>
      </div>
    </div> -->
    <!--  hasta aqui es lo antiguo aqui  -->
  </div>
</div>
