<div class="page">
  <div class="search">
    <label for="estilo">estilo</label>
    <input list="lista-de-estilo" type="text" id="estilo" name="estilo" />
    <!--para evitar problemas con el motor de búsqueda-->
    <!--!¡descomentar y rellenar los valores para utilizarlo!-->
    <!--
    <datalist id="lista-de-estilo">
      <option value=""></option>
      <option value=""></option>
    </datalist>
    -->
    <label for="estilo">estilo</label>
    <input list="lista-de-estilo" type="text" id="estilo" name="estilo" />
    <label for="estilo">estilo</label>
    <input list="lista-de-estilo" type="text" id="estilo" name="estilo" />
  </div>
</div>
