.perfil-banda-page {
    display: flex;
    justify-content: center;
    width: 100%;
}

.perfil-banda {
    margin-top: 1rem;
    width: 80%;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    height: max-content;
}

.calendar {

}

.profile-pic {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

.band-details {
    margin-left: 20px;
}

.multimedia {
    margin-top: 20px;
}

.video-container {
    display: flex;
    justify-content: space-between;
}

.video {
    width: 30%;
}

.desc {
    margin-top: 20px;
}
