.edit-banda {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form {
    width: 80%;
    max-width: 800px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
}